<page>
  <div id="插值" class="container py-5">
    <h4>介绍
      <hr>
    </h4>
    <p>
      View 是一个轻量级构建用户界面的前端矿建框架。 与其他框架的不同是它及其简单，以原生的的HTML代码或者文本为模板，以数据驱动视图。 小而美模板既html代码自然如泼墨山水；HTML，JS和分离便于后期代码的维护，缩短维护的成本。 借用面向对象的语言，一切皆对象 View 里一切皆插值，非常容易与第三方库或既有项目整合。 支持组件化开发和其他优秀的库结合使用时，View 完全能够为复杂的单页应用程序提供驱动。
    </p>
    <h4>
      插值
      <hr>
    </h4>
    <P>
      插值用于把绑定相应变量的内容以文本的格式输出到视图和其他的框架一样用双大括号来表示。
    </P>
    <P>
      语法：
    </P>
    <pre>
    <code class="code lang">
    {{表达式}}
    </code>
    </pre>
    <p>
      示例：
    </p>
    <pre>
    <code class="html">
    &lt;span&gt;{{msg}}&lt;/span&gt;
    </code>
    </pre>
    <pre>
    <code class="js">
    new View({
      view: "span",
      model: {
        msg: "输入点什么?"
      }
    });
    </code>
    </pre>
    <pre>
    <code class="html text">
    输入点什么?
    </code>
    </pre>
  </div>

  <div id="条件" class="container py-5">
    <h4>
      条件
      <hr>
    </h4>
    <p>
      View里的条件指令，相对于其他的js框架的条件的指令更容易理解（View的诞生其实和AngularJS糟糕难用的ng-if指令，多少有点关系。 在某个风和日丽的上午或者下午，当然现在记不太清了，当用到ng-if指令实现某个效果的时候，被坑了一些时间，现在想想当时心里估计有1w个曹尼玛奔腾而过， 当时就在想设计ng-if指令的人脑子是不是坏掉了，已于常人难以理解。于是对其好感度急剧下降，在想有没有一套更简单的前端框架，百度，谷歌然而并没有找到； 随后在某个晚上开始撸起代码）。
    </p>
    <p>
      语法：
    </p>
    <pre>
    <code class="code">
    @when(布尔表达式){
      业务逻辑
    }
    </code>
    </pre>
    <P>示例：</P>
    <pre>
    <code class="html">
    &lt;div id=&quot;msg&quot;&gt;
      @when(show){
        &lt;span&gt;Message: {{msg}}&lt;/span&gt;
      }
    &lt;/div&gt;
    </code>
    </pre>
    <pre>
    <code class="js">
    new View({
      view: "#msg",
      model: {
        msg: "输入点什么?",
        show : true
      }
    });
    </code>
    </pre>
    <pre>
    <code class="html text">
    输入点什么?
    </code>
    </pre>
  </div>

  <div id="条件分支" class="container py-5">
    <h4>
      条件分支
      <hr>
    </h4>
    <p>
      @when 指令要配合 .when 指令一起使用,可以实现 if else 效果
    </p>
    <p>语法：</p>
    <pre>
    <code class="code">
    @when(布尔表达式){
      业务逻辑
    }
    .when(布尔表达式){
      业务逻辑
    }
    .when{
      业务逻辑
    }
    </code>
    </pre>
    <p>示例：</p>
    <pre>
    <code class="html">
    &lt;div id=&quot;msg&quot;&gt;
      @when(show){
        &lt;span&gt;Message: {{ msg }}&lt;/span&gt;
      }
      .when{
        hello wold ！
      }
    &lt;/div&gt;
    </code>
    </pre>
    <pre>
    <code class="js">
    new View({
      view: "#msg",
      model: {
        msg: "输入点什么?",
        show : false
      }
    });
    </code>
    </pre>
    <pre>
    <code class="html text">
    hello wold ！
    </code>
    </pre>
  </div>

  <div id="循环" class="container py-5">
    <h4>
      循环
      <hr>
    </h4>
    <p>语法：</p>
    <pre>
    <code class="code">
    @each(变量：主键(可以省略)：数组||对象){
      业务逻辑
    }
    </code>
    </pre>
    <p>示例：</p>
    <pre>
    <code class="html">
    &lt;ul id=&quot;ul&quot;&gt;
      @each(li:ul){
        &lt;li&gt;
          {{li.text}}
        &lt;/li&gt;
      }
    &lt;/ul&gt;
    </code>
    </pre>
    <pre>
    <code class="js">
    new View({
      view: "#ul",
      model: {
        ul: [{
          text :"View.js"
        },{
          text :"Vue.js"
        },{
          text :"React.js"
        }]
      }
    });
    </code>
    </pre>
    <pre>
    <code class="html text">
      <ul>
        <li>View.js</li>
        <li>Vue.js</li>
        <li>React.js</li>
      </ul>
    </code>
    </pre>
    <p class="text-danger">
      注意点：循环表达式的参数 “变量：数组||对象”，如需要对象的主键这可以写成 “变量：主键(可以省略)：数组||对象” 主键的定义不是必须的，不需要的话可以省略
    </p>
  </div>

  <div id="循环属性" class="container py-5">
    <h4>
      循环属性
      <hr>
    </h4>
    <p>循环属性 each请参考 @each指令用法并无不同</p>
    <p>语法：</p>
    <pre>
    <code class="html">
    &lt;div each=&quot;item:key:list&quot;&gt;&lt;/ldiv&gt;
    </code>
    </pre>
    <p>示例：</p>
    <pre>
    <code class="html">
    &lt;ul id=&quot;ul&quot;&gt;
      &lt;li each=&quot;text:index:ul&quot;&gt;
        {{ index + 1 }}. {{ text }}
      &lt;/li&gt;
    &lt;/ul&gt;
    </code>
    </pre>
    <pre>
    <code class="js">
    new View({
      view: "#ul",
      model: {
        ul: ["View.js","Vue.js","React.js"]
      }
    });
    </code>
    </pre>
    <pre>
    <code class="html text">
    <ul>
        <li>1.View.js</li>
        <li>2.Vue.js</li>
        <li>3.React.js</li>
    </ul>
    </code>
    </pre>
  </div>


  <div id="用户输入" class="container py-5">
    <h4>
      用户输入
      <hr>
    </h4>
    <p>通过value=
      <code>{{变量}}</code>属性，就能简单的完成数据的双向绑定</p>
    <p>示例：</p>
    <pre>
    <code class="html">
    &lt;div id=&quot;input&quot;&gt;
      &lt;div&gt; {{text}} &lt;/div&gt;
      &lt;input value=&quot;{{text}}&quot;/&gt;
    &lt;/div&gt;
    </code>
    </pre>
    <pre>
    <code class="js">
    new View({
      view: "#input",
      model: {
        text:"输入点什么?"
      }
    });
    </code>
    </pre>
    <p>试一下</p>
    <pre>
    <code class="html text">
      <div id="input">
        <input class="form-control" value="{{text}}" />
        <div> {{text}} </div>
      </div>
    </code>
    </pre>
    <p>SELECT元素</p>
    <p>示例：</p>
    <pre>
    <code class="html">
    &lt;section value=&quot;{{msg}}&quot;&gt;
      &lt;option value=&quot;1&quot;&gt;苹果&lt;/option&gt;
      &lt;option value=&quot;2&quot;&gt;梨&lt;/option&gt;
    &lt;/section&gt;
    </code>
    </pre>
    <pre>
    <code class="js">
    new View({
      view: "section",
      model: {
        msg:""
      }
    })
    </code>
    </pre>
    <p class="text-danger">
      注意点： 如果model.msg有默认值的话，会成为SECTION的默认选项，如果option设定了selected="ture"则model.msg会被设置成默认值
    </p>

    <p>TEXTAREA元素</p>

    <p>示例：</p>
    <pre>
    <code class="html">
    &lt;textarea value=&quot;{{msg}}&quot;&gt;
      {{msg}}
    &lt;/textarea&gt;
    </code>
    </pre>
    <pre>
    <code class="js">
    new View({
      view: "textarea",
      model: {
        msg:"输入点什么?"
      }
    })
    </code>
    </pre>
    <p class="text-danger">
      注意点： 标签里层也要写 value 同样的变量，不然内容会不显示
    </p>
   
  </div>
</page>