<!DOCTYPE html>
<html>

<head>
  <title>View.js</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="/resources/css/highlight/atom-one-light.css">
  <link rel="stylesheet" type="text/css" href="/resources/css/home.css" />
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/resources/js/highlight.pack.js"></script>
  <script src="/resources/js/jquery-3.2.1.js"></script>
  <script src="/resources/js/view.js"></script>
</head>

<body>
  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand ml-5" href="#">
        <img src="resources/img/logo.svg" width="30" height="30" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link font-weight-bold" href="index.html">首页</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link font-weight-bold" href="#">文档</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link font-weight-bold" href="#">社区</a>
          </li>
        </ul>
        <form class="form-inline mr-5">
          <input id="search" class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="Search">
        </form>
      </div>
    </nav>
  </header>
  <main class="container">
    <div class="row">
      <div class="col-10">
        {{@router}}
        <pages>
          {{@page1}} {{@page2}} {{@page3}}
        </pages>
      </div>
      <div class="col-2">
        <ul id="list-right" class="list-group right">
          <li>
            <h5>安装</h5>
            <div class="list-group">
              <a href="#开始">开始</a>
              <a href="#编译">编译</a>
              <a href="#兼容性">兼容性</a>
            </div>
          </li>
          <li>
            <h5>基础</h5>
            <div class="list-group">
              <a href="#介绍">介绍</a>
              <a href="#插值">插值</a>
              <a href="#条件">条件</a>
              <a href="#条件分支">条件分支</a>
              <a href="#循环">循环</a>
              <a href="#循环属性">循环属性</a>
              <a href="#用户输入">用户输入</a>
              <a href="#属性绑定">属性绑定</a>
            </div>
          </li>
          <li>
            <h5>高级</h5>
            <div class="list-group">
              <a href="#事件">事件</a>
              <a href="#内联元素">内联元素</a>
              <a href="#组件">组件</a>
              <a href="#路由">路由</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </main>
  <footer>
    遵循 MIT 开源协议 Copyright © 2015-{{year}} SENSE
  </footer>
</body>
<script src="/app/index.js"></script>

</html>